// place your custom styles here
.vp-hero-image {
    max-height: 40%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
  }


.vp-hero-info-wrapper {
  min-height: 600px;
}


@import "./mobaxterm.scss";

@import "./random-password.scss";

// test
// .vp-site-name {
//   font-style: italic;
// }