  #mobaxterm{
    iframe {
      position: relative;
      left: 0;
      width: 100%;
      height: 400px;
      overflow: hidden;
      border:dashed red rgb(0, 0, 0) 3px;
      border-style: dashed;
      border-radius: 40px;
    }
  }

