#random-password{
    iframe {
      position: relative;
      left: 0;
      width: 100%;
      height: 521px;
      overflow: hidden;
      border:dashed red($color: #000000) 3px;
      border-style: dashed;
      border-radius: 40px;
    }
  }